<div class="banner">
  <h1><%= @maintenance_project.name %></h1>
</div>
<% if @maintenance_project.name == "The Grange, Dulwich" %>
  <%= render 'the_grange' %>
<% end %>

<!-- use unless image == nil if number of images is less than 10 -->
