// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
// Define fonts for body and headers
$body-font: "Montserrat";
$headers-font: "Montserrat";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "David Sans";
  src: url('assets/fonts/David Sans.ttf');
}
// $my-font: "Font Name";
