// Import Google fonts

// Define fonts for body and headers
$body-font: "David Sans";
$headers-font: "David Sans";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "David Sans";
  src: url('assets/fonts/David Sans.ttf');
}
// $my-font: "Font Name";
