// About Us and Our Approach

.section-1, .section-2 {
  display:flex;
  padding: 16px;
  text-align: left;
  .text {
    padding: 50px;
  }
  img {
    width: 25%;
  }
  @media (max-width: 992px) {
    .text {
      width: 50%
    }
    img {
      width: 50%;
    }
  }
}

