// Specific CSS for your home-page
body {
  background: white;
}

.home-page {
  padding-top: 2rem;

  .m-p-g {
    max-width: 100%;
    // margin: 0 auto;
    // width: 50%;
  }

  .m-p-g__thumbs-img {
    margin: 20px;
    vertical-align: bottom;
    width: 50%;

    @media (max-width: 992px) {
      width: 50%;
      margin: 10px;
    }
  }
}
