body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.show-page {
  padding-top: 32px;
  .show-text {
    width: 90%;
    margin: auto;
    padding: 3rem 1rem;
    text-align: left;
    font-size: 18px;
  }
}


.landscape {
  width: 100%;
  padding: 15px;
}

.landscape-single {
  position: relative; 
  display: inline-block;
}

.portrait {
  width: 50%;
  padding: 15px;
}

.text-and-image {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  p {
    width: 90%;
    font-size: 18px;
    padding: 12px;
  }
  img {
    width: 100%;
  }
}

.image-and-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  img {
    width: 100%;
  }
}

.testimonial {
  font-size: 24px;
  padding: 48px 0 0 16px;
  font-style: italic;
  color: #890F0D;
}

.testimonial-name {
  text-align: right;
  padding: 16px;
  font-size: 18px;
  font-weight: bolder;
  color: #890F0D;
}

.portrait-pair {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-self: flex-start;
  img {
    height: auto;
  }
}

.landscape-single .image-text {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity:0;
  font-size: 20px;
  transition: .8s ease;
  bottom: 2%; /* Adjust this value to move the positioned div up and down */
  font-family: Arial,sans-serif;
  color: #fff;
  width: 90%; /* Set the width of the positioned div */
}

.landscape-single:hover .image-text {
  opacity: 1;
}

.bottom-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.empty-div {
  width: 50%;
}

.text {
  width: 50%;
  padding: 15px;
}



// // No hover effect on mobile

// @media (min-width: 100px) and (max-width: 768px) {
//   .landscape-single .image-text {
//   position: absolute;
//   margin: 0 auto;
//   left: 0;
//   right: 0;
//   opacity:1;
//   font-size: 12px;
//   transition: .8s ease;
//   bottom: 2%; /* Adjust this value to move the positioned div up and down */
//   font-family: Arial,sans-serif;
//   color: #fff;
//   width: 90%; /* Set the width of the positioned div */
// }
// }

