<div class="footer">
  <div class="footer-links">
    <h4>Get in touch - testing....</h4>
    <p><a href="mailto: forbesallenhorticulture@gmail.com">forbesallenhorticulture@gmail.com</a></p>
    <p><a href="#">Instagram <i class="fab fa-instagram"></i></p></a>
  </div>
</div>