<div class="footer">
  <div class="footer-links">
    <h4>Get in touch</h4>
    <p><a href="mailto: info@forbesallen.co.uk">info@forbesallen.co.uk</a></p>
    <p><a href="https://www.instagram.com/forbesallengardens/">Instagram <i class="fab fa-instagram"></i></p></a>
  </div>
</div>