<div class="banner">
  <h1>About Us</h1>
</div>

<div class="container">

  <div class="section-1">
    <div class="text">
      <h3>Louisa Allen</h3>
      <p>Louisa has extensive garden design and management experience, having worked in the public and private sectors for more than 20 years before establishing Forbes Allen with her son Sam nearly five years ago.</p>
      <p>Among her roles, she managed the City of London’s green spaces in the Square Mile, overseeing several high-profile renovation projects, between 2012 and 2017. She has an RHS Masters in Horticulture and is passionate about plant combinations which transform open spaces.</p>
    </div>
    <img src="https://via.placeholder.com/400" alt="">
  </div>


  <div class="section-1">
    <img src="https://via.placeholder.com/400" alt="">
    <div class="text">
      <h3>Sam Allen</h3>
      <p>Sam worked for a range of garden design and maintenance businesses across London before developing his own client network and then establishing Forbes Allen with Louisa in 2017.</p>
      <p>He is particularly interested in naturalistic design and planting, forest gardens and the potential for fruit and vegetable growing as part of the evolution of green spaces. He has developed extensive plant knowledge through intensive research and visiting gardens and wild spaces across the UK.</p>
    </div>
  </div>
</div>
