<div class="container">

  <div class="intro-section">
    <p>We are a friendly, family-run garden design and maintenance business working primarily in the South London area. We work in private gardens and public spaces, including schools, churches and shops, providing a full range of services, from original designs, planting plans and installations, to regular green space management and consultancy.</p>
    <p>We pride ourselves on providing a bespoke service for each garden and we like to build strong and lasting relationships with our customers, helping them improve their gardens over time. We are reliable and hard-working, with a strong focus on attention to detail and ensuring we meet the needs of our customers.</p>
    <br>
  </div>

  <div class="portrait-pair louisa-and-sam-photos">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680853266/Forbes%20Allen%20Horticulture/Louisa_ok5e81.png" alt="Louisa" class="portrait louisa-photo" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680853266/Forbes%20Allen%20Horticulture/Sam_cb3sbh.png" alt="Sam" class="portrait sam-photo" />
  </div>

  <div class="portrait-pair louisa-and-sam-text">
    <div class="text">
      <h4>Louisa Allen</h4>
      <br>
      <p>Louisa has extensive garden design and management experience, having worked in the public and private sectors for more than 20 years before establishing Forbes Allen with her son Sam nearly five years ago.</p>
      <p>Among her roles, she managed the City of London’s green spaces in the Square Mile, overseeing several high-profile renovation projects, between 2012 and 2017. She has an RHS Masters in Horticulture and is passionate about plant combinations which transform open spaces.</p>
    </div>    
    <div class="text">
      <h4>Sam Allen</h4>
      <br>
      <p>Sam worked for a range of garden design and maintenance businesses across London before developing his own client network and then establishing Forbes Allen with Louisa in 2017.</p>
      <p>He is particularly interested in naturalistic design and planting, forest gardens and the potential for fruit and vegetable growing as part of the evolution of green spaces. He has developed extensive plant knowledge through intensive research and visiting gardens and wild spaces across the UK.</p>
    </div>  
  </div>
</div>
