<div class="banner">
  <h1>Contact us</h1>
</div>

<div class="container contact-container">
  <div class="intro-section">
    <p>Please get in touch if you would like to discuss anything about your garden. We are happy to quote for design, maintenance or one off projects.</p>
    <p>We have a comprehensive list of suppliers and work with a range of partners in the industry. We will always do our upmost to find a solution that meets your needs.</p>
  </div>
  <div class="contact-details">  
    <p><a class="email-address" href="mailto: info@forbesallen.co.uk">info@forbesallen.co.uk</a></p>
    <p>07931 345910</p>
  </div>
</div>

