<div class="banner">
</div>
<div class="cards">
  <%= link_to design_projects_path do %>
    <div class="home-card" id="design-projects" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1616281677557-a40d9d9ece5e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80)">
    </div>
  <% end %>
  <%= link_to maintenance_projects_path do %>
    <div class="home-card" id="maintenance-projects" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1520302630591-fd1c66edc19d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80)">
    </div>
    <% end %>
</div>

