<div class="home-page">
  <div class="m-p-g">
    <div class="m-p-g__thumbs">
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094817/Forbes%20Allen%20Horticulture/Homepage/DSC_0472_i6tovr.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094817/Forbes%20Allen%20Horticulture/Homepage/DSC_0177_lpu8gj.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094812/Forbes%20Allen%20Horticulture/Homepage/DSC_0765_lfinxo.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629826112/Forbes%20Allen%20Horticulture/Design/Beauval%20Road/image_1_nvpx7v.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094820/Forbes%20Allen%20Horticulture/Homepage/DSC_0428_nxq0zy.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094817/Forbes%20Allen%20Horticulture/Homepage/DSC_0139_aq6x1b.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094822/Forbes%20Allen%20Horticulture/Homepage/DSC_0546_dqqiwx.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094821/Forbes%20Allen%20Horticulture/Homepage/DSC_0635_nnxzzm.jpg" class="m-p-g__thumbs-img" />
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094818/Forbes%20Allen%20Horticulture/Homepage/DSC_0789_plpywy.jpg" class="m-p-g__thumbs-img" />
    </div>

<!--     <div class="m-p-g__fullscreen"></div> -->
  </div>
</div>
