<div class="show-page">
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094817/Forbes%20Allen%20Horticulture/Homepage/DSC_0139_aq6x1b.jpg" class="landscape" />
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094817/Forbes%20Allen%20Horticulture/Homepage/DSC_0472_i6tovr.jpg" class="portrait" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638100090/Forbes%20Allen%20Horticulture/Maintenance/Country%20Garden/DSC_0499_yxcw0c.jpg" class="portrait" />
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094817/Forbes%20Allen%20Horticulture/Homepage/DSC_0177_lpu8gj.jpg" class="portrait" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094822/Forbes%20Allen%20Horticulture/Homepage/DSC_0546_dqqiwx.jpg" class="portrait" />
  </div>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094820/Forbes%20Allen%20Horticulture/Homepage/DSC_0428_nxq0zy.jpg" class="landscape" />
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094818/Forbes%20Allen%20Horticulture/Homepage/DSC_0789_plpywy.jpg" class="portrait" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094812/Forbes%20Allen%20Horticulture/Homepage/DSC_0765_lfinxo.jpg" class="portrait" />
  </div>
</div>