<div class="banner">
  <h1>our approach</h1>
</div>

<div class="container">

  <div class="section-2">
    <img src="https://via.placeholder.com/400" alt="">
    <div class="text">
      <p>Our approach is built on expert plant knowledge and an understanding of what will work in any given space, large or small, exterior or interior. We have extensive contacts within the horticultural industry and can source and supply plants and other materials from a range of specialist nurseries across the UK.</p>
      <p>We can call on a range of specialist contractors, from hard landscaping to irrigation, to assist with any project. We also enjoy working with other designers when we feel their skills and experience can bring additional benefits to an assignment.</p>
      <p>Our design work tends to be informed by a naturalistic approach but we are equally happy to use more formal structures depending on the space and individual preferences.  Wherever possible, we favour using organic methods and materials, and likewise we aim to focus on sustainability.</p>
    </div>
  </div>
</div>
