<div class="show-page">
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808692/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Monica_Homepage_ufsggs.jpg" class="landscape" />
  </div>
  <div class="project-summary">
    <div class="project-name">
      <div class="centered-vertically">
        <h3> Beckenham Woodland </h3>
        <h5 class="project-year"> 2021 </h5>
      </div>
    </div>
    <div class="show-text">
      <p>Originally built as a rockery at the foot of a large oak tree, this garden was overrun with vin- ca and succulents. Forbes Allen were approached to transform the space into a woodland with a naturalised feel. Helebores and Pulmonaria were planted to lighten the space in late winter before Tiarella, Epimedium and woodland Euphorbia take centre stage. Woodland asters provide a long season of interest before cyclamen announce the arrival of autumn.</p>
    </div>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808691/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Monica_2_wdqoex.jpg" class="landscape" loading="lazy"/>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808677/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Tiarella_Epimedium_gbrpnq.jpg" class="landscape" loading="lazy"/>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808671/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Epimedium_Flower_ceczgz.jpg" class="landscape" loading="lazy"/>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808682/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Tiarella_close_up_nrvbp9.jpg" class="landscape" loading="lazy"/>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808675/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Epimedium_Leaf_tgbcvw.jpg" class="portrait portrait-left" loading="lazy"/>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808675/Forbes%20Allen%20Horticulture/Beckenham%20Woodland/Tulip_rhiao8.jpg" class="portrait portrait-right" loading="lazy"/>
</div>