<div class="show-page">
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649682339/Forbes%20Allen%20Horticulture/Homepage/FINAL/Beauval_Homepage_phshped_adp7ep.jpg" class="landscape" />
  </div>
  <div class="project-summary">
    <div class="project-name">
      <div class="centered-vertically">
        <h3> Designer's Garden </h3>
        <h5 class="project-year"> 2016 </h5>
      </div>
    </div>
    <div class="show-text">
      <p>Forbes Allen designed this garden in 2016 and have been maintaining it since. The garden benefits from a west facing aspect and is enclosed on all three sides by the sweetly scented climber Trachelospermum jasminoides. Indian sandstone on the ground and rendered wall planters provide differing heights to the scheme. </p>
      <p>Architectural plants provide all year-round interest, interspersed with herbaceous plants. A variety of large containers in- clude specimen shrubs and plants. A recently installed irrigation system assists with preserving the plants and precious water.</p>
    </div>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650370956/Forbes%20Allen%20Horticulture/Designer%27s%20Garden%20Final/Erigeron_Feature_idg2au.jpg" class="portrait portrait-left" loading="lazy"/>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650370953/Forbes%20Allen%20Horticulture/Designer%27s%20Garden%20Final/Rosmary_Final_qcktcu.jpg" class="portrait portrait-right" loading="lazy"/>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650370950/Forbes%20Allen%20Horticulture/Designer%27s%20Garden%20Final/Oleander_ylfpxm.jpg" class="portrait portrait-left" loading="lazy"/>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650370955/Forbes%20Allen%20Horticulture/Designer%27s%20Garden%20Final/Sedum_qhds2f.jpg" class="portrait portrait-right" loading="lazy"/>
  </div>
</div>