<div class="show-page">
  <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680861410/Forbes%20Allen%20Horticulture/East%20Dulwich%20Front%20Garden/USE_6_rqtwux.jpg" class="landscape" />
  <div class="project-summary">
    <div class="project-name">
      <div class="centered-vertically">
        <h3> East Dulwich Front Garden </h3>
        <h5 class="project-year"> 2016 </h5>
      </div>
    </div>
    <div class="show-text">
      <p>Forbes Allen designed this garden in 2016 and have been maintaining it since. The garden benefits from a west facing aspect and is enclosed on all three sides by the sweetly scent- ed climber Trachelospermum jasminoides. Indian sandstone on the ground and rendered wall planters provide differing heights to the scheme. Architectural plants provide all year- round interest, interspersed with herbaceous plants. A variety of large containers include specimen shrubs and plants. A recently installed irrigation system assists with preserving the plants and precious water.</p>
    </div>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680861410/Forbes%20Allen%20Horticulture/East%20Dulwich%20Front%20Garden/USE_5_rdocbc.jpg" class="landscape" loading="lazy" />
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683655942/Forbes%20Allen%20Horticulture/East%20Dulwich%20Front%20Garden/Missing_Beauval_itab3n.jpg" class="portrait portrait-left" loading="lazy" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680861410/Forbes%20Allen%20Horticulture/East%20Dulwich%20Front%20Garden/USE_4_cmgobc.jpg" class="portrait portrait-right" loading="lazy" />
  </div>  
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680861409/Forbes%20Allen%20Horticulture/East%20Dulwich%20Front%20Garden/USE_3_hshdet.jpg" class="landscape" loading="lazy" />
  </div>
</div>