<div class="show-page">
  <div class="portrait-pair">
    <div class="text-and-image">
      <div class="project-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>
      </div>
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1647177982/Forbes%20Allen%20Horticulture/Sinclair%20Till/DSC_0459_imajmv.jpg" class="portrait" />
    </div>
    <div class="image-and-text">
      <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1647177976/Forbes%20Allen%20Horticulture/Sinclair%20Till/DSC_0546_yvdcma.jpg" class="portrait" />
      <div class="project-text">
        <p class="testimonial">'Sam and Louisa were brilliant to work with. They have fantastic knowledge and expertise.'</p>
        <p class="testimonial-name">- Stefan Turnball, The Grange
      </div>
    </div>
  </div>
  <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638094820/Forbes%20Allen%20Horticulture/Homepage/DSC_0428_nxq0zy.jpg" class="landscape" />
</div>
