<div class="show-page">
  <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,h_1814,w_2710/v1649682365/Forbes%20Allen%20Horticulture/Homepage/FINAL/Full_Facade_Edited_FINAL_tfjxfp.jpg" class="landscape" />
  <div class="project-summary">
    <div class="project-name">
      <div class="centered-vertically">
        <h3> Sinclair Till </h3>
      </div>
    </div>
    <div class="show-text">
      <p>Forbes Allen were approached by architects <a href="http://camu.co.uk">Camu and Morrison</a> in the summer of 2021 to assist with the exterior of the stylishly refurbished <a href="https://www.sinclairtill.co.uk">Sinclair Till</a> shop in Pimlico.</p>
      <p>The team were asked to design and install planters to the back and front of the shop, to enhance the façade and provide a small oasis of a garden for staff and clients at the rear. Plants used include structural shrubs and a range of other plants, to suit the front’s hot and dry conditions, and the back which is mainly shade. The team maintains the containers and regularly replenishes them with bulbs and smaller plants to provide seasonal interest.</p>
    </div>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649676273/Forbes%20Allen%20Horticulture/Sinclair%20Till/FINAL_SINCLAIR_FRONT_PORTRAIT_j99h6z.jpg" class="portrait portrait-left" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649676274/Forbes%20Allen%20Horticulture/Sinclair%20Till/Courtyard_apyczv.jpg" class="portrait portrait-right" />
  </div>
</div>
