<div class="show-page">
  <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808807/Forbes%20Allen%20Horticulture/Stoke%20Newington/Jenny_Main_d1wysf.jpg" class="landscape" />
  <div class="project-summary">
    <div class="project-name">
      <div class="centered-vertically">
        <h3> Stoke Newington </h3>
        <h5 class="project-year"> 2020 </h5>
      </div>
    </div>
    <div class="show-text">
      <p>Forbes Allen designed this front garden in 2020. The client wanted to make the garden useful by installing a new smart bike shed but also providing seasonal planting interest when looking out of a basement kitchen and complementing the façade of the elegant terraced Georgian house. Reclaimed York Stone stepping stones were incorporated to access services and make the maintenance of the garden easier. Granite setts were used as a forecourt to access the bike shed. The garden had an established Yew hedge and Acer so new plants were chosen to complement these, and provide year-round interest. A range of bulbs are planted annually to extend the season.</p>
    </div>
  </div>
  <div class="landscape-single">
    <img src="  https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808806/Forbes%20Allen%20Horticulture/Stoke%20Newington/Jenny_reverse_l6z1ux.jpg" class="landscape" loading="lazy"/>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808805/Forbes%20Allen%20Horticulture/Stoke%20Newington/Jenny_Front_mvj4gf.jpg" class="portrait portrait-left" loading="lazy"/>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1652808810/Forbes%20Allen%20Horticulture/Stoke%20Newington/Jenny_overhead_gfzgsc.jpg" class="portrait portrait-right" loading="lazy"/>
  </div>
</div>
