<div class="show-page">
  <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649682335/Forbes%20Allen%20Horticulture/Homepage/FINAL/Jimmy_Homepage_ebjzjf.jpg" class="landscape" />
  <div class="project-summary">
    <div class="project-name">
      <h3> Terraced Garden </h3>
    </div>
    <div class="show-text">
      <p>Forbes Allen designed this back garden in 2018 and have been maintaining it since. The terraced space was a challenge to design as the small garden was on a steep incline with three different levels leading from the kitchen to a garage at the top end of the garden.</p>
      <p>Previously two of the three levels had little use due to their restricted size. The new design reorganised the levels to make all three areas useable and they now accommodate seating, dining and planting. The use of new cut York Stone for the terraces, steps and installed stone seat links the house with the garden and provides a soft backdrop to the newly installed planting scheme. A large Iroko pergola provides another dimension for climbing plants and provides much needed shade in this west facing garden. Plain large containers provide focal points and seasonal interest.</p>
    </div>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650369436/Forbes%20Allen%20Horticulture/Terraced%20Garden%20Final/Jimmy_Chair_v5iy9t.jpg" class="portrait portrait-left" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650369437/Forbes%20Allen%20Horticulture/Terraced%20Garden%20Final/White_Agapanthas_wo2u2c.jpg" class="portrait portrait-right" />
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650369440/Forbes%20Allen%20Horticulture/Terraced%20Garden%20Final/Blue_Agapanthus_ogynvc.jpg" class="portrait portrait-left" />
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1650369430/Forbes%20Allen%20Horticulture/Terraced%20Garden%20Final/Beam_ulex5a.jpg" class="portrait portrait-right" />
  </div>
</div>