<div class="show-page">
  <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1649682337/Forbes%20Allen%20Horticulture/Homepage/FINAL/Grange_Landscape_persicaria_lawn_mulberry__snyzz6.jpg" class="landscape" />
  <div class="project-summary">
    <div class="project-name">
      <div class="centered-vertically">
        <h3> The Lodge </h3>
        <h5 class="project-year"> Ongoing </h5>
      </div>
    </div>
    <div class="show-text">
      <p>Forbes Allen Gardens took on the maintenance of this three-acre garden in late 2019. The garden has a range of magnificent mature trees, unusual shrubs. A central lawn sweeps down to a woodland area with a winding stream. Secretive paths run on the boundary and through a woodland walk.The gar- den had been originally planted in an architectural style but over time had become overgrown, hiding a ‘Lovers Walk’ with some trees and shrubs poorly pruned and overgrown.</p>
      <p>Since 2019 the team have worked with the clients to reinstate a recently discovered pathway and planting areas, planting new varieties of trees and establishing a composting and leaf mould regime. All projects have reflected the clients’ passion for using non-biological controls and enhancing biodiversity. During lockdown, to make use of the existing greenhouse, raised vegetable beds and some borders have been converted into vegetable growing areas.</p>
    </div>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683659260/Forbes%20Allen%20Horticulture/Maintenance/The%20Lodge/Grange_Landscape_ynarrf.png" class="landscape" loading="lazy"/>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638100093/Forbes%20Allen%20Horticulture/Maintenance/Country%20Garden/DSC_0606_fkzqet.jpg" class="portrait portrait-right" loading="lazy"/>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1638100085/Forbes%20Allen%20Horticulture/Maintenance/Country%20Garden/DSC_0457_ii0y4j.jpg"  class="portrait portrait-right" loading="lazy"/>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680855984/Forbes%20Allen%20Horticulture/Maintenance/The%20Lodge/DSC_0278_mmeenw.jpg" class="landscape" loading="lazy"/>
  </div>
  <div class="portrait-pair">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680855986/Forbes%20Allen%20Horticulture/Maintenance/The%20Lodge/DSC_1333_qr2dsf.jpg" class="portrait portrait-left" loading="lazy"/>
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680855985/Forbes%20Allen%20Horticulture/Maintenance/The%20Lodge/DSC_1334_eznld7.jpg" class="portrait portrait-left" loading="lazy"/>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680855986/Forbes%20Allen%20Horticulture/Maintenance/The%20Lodge/DSC_1342_ksuseb.jpg" class="landscape" loading="lazy"/>
  </div>
  <div class="landscape-single">
    <img src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1680855988/Forbes%20Allen%20Horticulture/Maintenance/The%20Lodge/DSC_1352_ycse1d.jpg" class="landscape" loading="lazy"/>
  </div>
</div>
