<div class="banner">
  <h1>Design Projects</h1>
</div>

<div class="index-cards">
  <% @design_projects.each_with_index do |project, index|%>
    <%= link_to design_project_path(project), class: "card-link project-#{index}" do  %>
      <div class="card-project">
        <%= image_tag project.image, alt: "alttext" %>
        <div class="card-project-infos">
          <div>
            <h2><%= project.name  %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
