<div class="banner">
  <h1>Design Projects</h1>
</div>

<div class="index-cards">
  <% @design_projects.each do |project|%>
    <%= link_to design_project_path(project), class: "card-link" do  %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= project.name  %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
