<div class="banner">
  <h1><%= @design_project.name %></h1>
</div>
<%= render 'beauval_road' if @design_project.name == "Beauval Road" %>
<%= render 'melford_road' if @design_project.name == "Melford Road" %>

