.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px;
  padding: 48px;
}

.card-project {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-project > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-project h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-project p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-project .card-project-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: darkgrey;
}

.card-link:hover {
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  .card-project-infos {
    color: black;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .index-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .index-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .index-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

