.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 22px;
  padding: 26px;
  font-family: forma-djr-deck, sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}

.fab {
  margin-top: 5px;
}

.nav-link {
  font-size: 16px;
  color: black !important;
  font-weight: 100; 
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.navbar-toggler {
  border: none;
  margin-bottom: 1rem;
  img {
    width: 35px;
  }
  padding: 0 !important;
}

.branding {
  display: flex;
  padding-top: 20px;
  h4 {
    text-align: left;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
    font-size: 38.5px;
  }
  p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
  }
}

ul {
  white-space: nowrap;
  li {
    display: inline-block
  }
}

// Majority of mobile CSS here:

@media (min-width: 100px) and (max-width: 576px) {
  .project-summary {
    flex-direction: column !important;
    padding: 8px !important;
    .show-text {
      width: auto !important;
    }
    .project-name {
      display: none !important;
    }
  }
  .show-text {
    font-size: 14px !important;
    padding: 0 !important;
  }
  .nav-link {
    padding: none !important;
    font-size: 15px;
  }
  .branding {
    height: 100px;
    h4 {
      font-size: 22px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .index-cards {
    margin-right: -0.5rem;
    padding: 0 !important;
  }
  h1{
    font-size: 22px !important;
  }
  h2 {
    font-size: 14px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  .portrait, .landscape, .navbar-lewagon {
    padding: 8px !important;
  }
  .portrait-left {
    padding-right: 0.25rem !important;
  } 
  .portrait-right {
    padding-left: 0.25rem !important;
  }
  .louisa-and-sam-photos {
    padding: 0 !important;
  }
  .louisa-photo {

    padding: 0 0.25rem 0 0 !important;
  }
  .sam-photo {
    padding: 0 0 0 0.25rem !important;
  }
  .louisa-and-sam-text {
    flex-direction: column !important;
    font-size: 14px !important;
  }
  .text {
    h4 {
      font-size: 18px;
    }
    width: 100% !important;
    padding: 2rem 0 0 0 !important;
    font-size: 14px !important;
  }
  .intro-section {
    padding: 2rem 0 1rem 0 !important;
    font-size: 14px !important;
  }
}

@media (min-width: 577px) and (max-width: 1125px) {
  .branding {
    h4 {
      font-size: 32px;
      font-weight: auto !important;
    }
    p {
      font-size: 16px;
      font-weight: auto !important;
    }
  }

  .navbar {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-expand-sm .navbar-toggler {
    display: flex !important;
  }

  .navbar-expand-sm .navbar-collapse {
    flex-basis: 100%;
    align-items: center;
    flex-grow: 0;
    display: block !important;
  }

  .collapse {
    ul {
      display: none !important
    }
  }

  .collapse:not(.show) {
    display: none !important;
  }

  .show {
    ul {
      display: flex !important;
      flex-direction: column !important;
    }
  }

  .louisa-and-sam-photos {
    padding: 0 !important;
  }
  .louisa-photo {

    padding: 0 0.25rem 0 0 !important;
  }
  .sam-photo {
    padding: 0 0 0 0.25rem !important;
  }
  .louisa-and-sam-text {
    flex-direction: column !important;
  }
  .text {
    width: 100% !important;
    padding: 2rem 0 0 0 !important;
  }
  .intro-section {
    padding: 2rem 0 1rem 0 !important;
  }
}



@media (min-width: 1125px) {
  .navbar-expand-sm .navbar-toggler {
    display: none !important;
  }
  .navbar-expand-sm .navbar-nav .nav-link-padding {
    padding-right: 2.5rem;
  }
  .tagline {
    margin-top: -6px;
  }
  .navbar-collapse {
    margin-bottom: 1.5rem;  
  }
  .nav-link-no-padding {
    padding-right: 0 !important;
  }
}

