.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 16px;
  padding: 0px 6%;
  font-family: forma-djr-deck, sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  padding-left: 4rem !important;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}

.fab {
  margin-top: 5px;
}

.branding {
  display: flex;
  padding-top: 28px;
  h4 {
    text-align: left;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
    font-size: 40px;
  }
  p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .branding {
    height: 100px;
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
  }
}