.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bold {
  font-weight: bold;
}

.fab {
  margin-top: 5px;
}

